<section id="up">
<li>
<ul><a href="#presentation" style="color:#ac2925;font-weight: bold">Présentez vous</a></ul>
    <ul><a href="#qualite"style="color:#666666;font-weight: bold">Qualités </a></ul>
    <ul><a href="#default"style="color:#d17581;font-weight: bold">Defaults </a></ul>
    <ul><a href="#5ans"style="color:#0088CC;font-weight: bold">Quel poste aimeriez-vous occuper dans 5 ans ?</a></ul>
    <ul><a href="#equipe"style="color:#880000;font-weight: bold">Comment travaillez-vous en équipe ?</a></ul>
    <ul><a href="#france"style="color:#ec971f;font-weight: bold">Pourquoi vouloir faire un stage en France?</a></ul>
    <ul><a href="#montre"style="color:#3c763d;font-weight: bold">combien de fois par jour les aiguilles d'une horloge se chevauchent-elles</a></ul>
    <ul><a href="#non"style="color:#0000F0;font-weight: bold">saviez vous dire non?</a></ul>
    <ul><a href="#jeune"style="color:#00ee00;font-weight: bold">N'etes vous pas trop jeune pour ce poste?</a></ul>
    <ul><a href="#environnement"style="color:#8959A8;font-weight: bold"> Parlez-moi de votre environnement de travail préféré.</a></ul>
    <ul><a href="#tache"style="color:#8959A8;font-weight: bold">Comment faites-vous face et de gérer les tâches si vous avez reçu de nombreuses tâches dans le même temps?</a></ul>
    <ul><a href="#salaire"style="color:#0000F0;font-weight: bold">SALAIRE</a></ul>
    </a></ul>
<p>*****entreprise***</p>
    <ul><a href="#entreprise"style="color:#8959A8;font-weight: bold">Que connaissez-vous de notre entreprise ? </a></ul>
    <ul><a href="#poste"style="color:#0000F0;font-weight: bold">Pouvez-vous me préciser ce que vous avez compris du poste ?</a></ul>
    <ul><a href="#repondre"style="color:#00ee00;font-weight: bold">Pourquoi avez-vous  répondu à notre annonce ? </a></ul>
    <ul><a href="#moi"style="color:#c7254e;font-weight: bold">Pourquoi vous et pas un autre?</a></ul>
    <ul><a href="#plus"style="color:#3c763d;font-weight: bold">Que pensez-vous apporter à notre société ?</a></ul>



    <p>*****CV****</p>
    <ul><a href="#methode"style="color:#3c763d;font-weight: bold">les meethodoligies agiles,Scrum, Rup</a></ul>


    <ul><a href="#questions"style="color:#222222;font-weight: bold">Poser des questions?</a></ul>
    <ul><a href="#papiers"style="color:#0000F0;font-weight: bold">Papiers de stage?</a></ul>
</li>
    </section>
<section id="presentation">

    Présentez vous:
    <p>Je suis Meriem MEMMICHE. J’ai 23ans. J’habite en Tunisie.</p>
    <p>le cœur de ma compétence future ingénieur réseaux informatiques et télécommunications</p>
    <p>Ma compétence repose sur 3 piliers :</p>
    <p>1 pilier technique :</p>
    <p>je suis étudiante à l’Institut Nat
        ional des sciences appliquées et de technologies.
        <p>Je suis en 5éme année. Je maitrise bien le développement et j'ai une trés bonne connaissance sur les nouvelles technologies.
        J’ai réalisé des projets tel le déeloppement d'un site web ….</p>
   <p></p> Et j’ai effectué plusieurs stages.</p>
    <p>//Ce qui me semble plus significatif c’est celui que j’ai effectué au sein de la soctiété STBI Tunisia.</p>
    <p>//C’est une société qui est spécialisée dans la vente et la maintenance des matériels informatiques.</p>
    <p>//Aussi la réparation des ordinateurs et le développement des bornes interactifs.</p>
    <p>//Ma mission c’était d’assurer la sécurité du réseau local de l’entreprise...</p>
    <p>2éme stage::: Ce qui me semble plus significatif c’est celui que j’ai effectué au sein de l'UIPPA</p>
    <p>C'est un laboratoirequi est dédié à la recherche situé à pau </p>
    <p>donc je suis partie de l'équipe de recherche et développement</p>
    <p>c'était un stage à distance mais j'ai appris beaucoup de ce stage </p>
    <p>et j'ai eu la chance de travailler sur un sujet trés important qui le IOT (internet des objets)</p>
    <p> j'etais amener a utiliser un middelware developpé par l'equipe de recherche
        avec laquelle j'ai travailelr afin de developper une application mobile distribué qui
        peut s'executer dans tous les appareils de l'utilisateur autour de lui.</p>

    <p>Deuxièmement  <p style="color: #0000F0">un pilier management</p>
    <p>L’INSAT est réputée par sa vie associative. Donc je suis membre de 2 clubs.</p>
    <p>Le club Securinets. C’est le premier club dedié à la sécurité informatique en Tunisie.</p>
    <p>J’ai géré des équipes entre 5 et 10 personnes.</p>
    <p>J’ai occupé plusieurs postes : tel le poste de chef d’équipe, responsable sponsoring.</p>
   <p> •	participé à l’organisation de plusieurs événements notamment la journée nationale de la sécurité informatique.</p>
    <p> •	J’étais la responsable sponsoring. Ma mission c’était d’apporter plusieurs sponsors pour notre évènement.</p>
    <p> •	Aussi j’ai eu la chance de participer à l’organisation de la journée nationale de la robotique. </p>
    <p>Donc j’étais la chef des amis d’équipes.( Les amis d’équipes sont les ACCOMPAGNATEURS des participants de la compétition des robots.)</p>

    Et troisièment  <p style="color: #0000F0">un pilier commercial</p>
    <p>je suis quelqu’un de très à l’aise dans la communication.</p>
    <p>J’ai notamment travaillé dans un centre d’appel. C’était un institut de sondage. </p>
    <p>J’ai appelé les habitants de la région nord pas de calais afin de les interroger à partir d’un questionnaire bien défini.</p>
    <p>Le défi c’était comment convaincre un client de répondre à toute l’enquête et ne pas raccrocher au milieu de l’enquête.</p>
    <p>
        Entant que future ingénieur, j’ai fixé des objectives pour ma vie professionnelle.</p>
       <p> Et c’est pour cela je dois commencer par la première et la plus importante étape : c’est le PFE.</p>
    <p>Et grâce à votre aide, je vais pouvoir faire aboutir un projet qui me tient à cœur.</p>
    <p>Je veux commencer ma carrière sur des bonne bases c’est pour cela que j’ai choisi ce stage pour mon début de carrière.</p>


</section><a href="#up" style="color:#761c19;">UP</a>
<p>****************qualités*************</p>
<section id="qualite">
    Bon une de mes qualités c’est que  <p style="color: #0000F0">je suis quelqu’un qui joue l’esprit d’équipes.</p>
    <p>Je suis membre de plusieurs clubs et c’est quelque chose qui va marquer que je suis quelqu’un qui joue l’équipe</p>
    <p>Ça fait partie de ma personnalité.</p>
    <p style="color: #0000F0">J’ai aussi une forte  résistance au stress.</p>
    <p>parceque c'est pas facile de passer 5 ans à l'ingénierie</p>
    <p>Le rythme est intense </p>
    <p style="color: #0000F0"> ●	Persévérante</p>
    <p style="color: #0000F0"> ●	Sociable</p>
    <p style="color: #0000F0"> ●	Curieuse</p>

</section><a href="#up" style="color:#761c19;">UP</a>
<p>****************defaults*************</p>
<section id="default">

   <p>je suis competitive et des fois ca devient excessif</p>
    <p>je suis le genre de personne quand je traville en equipe</p>
    <p>je me pousse pour etre la meilleure </p>
<p>remarque </p>
    <p>mais ma competitivité a un point positive </p>
    <p>parceque ca me pousse à travailler toujours plus dur</p>
    <p> Je suis sensible</p>


    <p> mes amis disent de moi que je suis bavarde</p>
    <p>mais je sais comment faire la part des choses entre le trvail et la pause</p>


</section> <a href="#up" style="color:#761c19;">UP</a>

<p>****************5ans aprés*************</p>
<section  id="5ans">
    <p> Idéalement, dans dix ans j’aimerais m’épanouir professionnellement d’abord </p>
    <p>je vais essayer d'avoir une bonne carriére et ça ne vient pas si je ne travaille pas beaucoup</p>
    <p>Je souhaite évoluer vers un poste de manager, par exemple du département de recherche de Valeo </p>
    <p>Je veux étre une personne qui a du succés</p>

    <p>avoir un enfant vers 30-35 ans</p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>****************equipe*************</p>
<section id="equipe">
    <p>déléguez, animez, motivez vos collaborateurs</p>

</section><a href="#up" style="color:#761c19;">UP</a>


<p>******************* travailler en france*****</p>
<section id="france">
    <p>Je souhaiterais évoluer dans un cadre multi-culturel</p>
    <p>afin d’avoir une formation complète autour de ce métier </p>
    <p>et ce au sein d'une société à fort potentiel comme la vôtre.</p>

</section><a href="#up" style="color:#761c19;">UP</a>

<p>******************* difficultéss confiancee*****</p>
<section id="difficultes">
    <p> Oui, j’étais confronté à plusieurs difficultés.</p>
    <p>Par exemple j’ai travaillé avec une plateforme sur laquelle je n’ai jamais entendu </p>
    <p>dans le cadre de mon dernier stage.</p>
    <p>Donc j’ai lu tous les documents sur cette plateforme.</p>
    <p>Bah Ils nous ont fait une formation par Skype</p>
    <p>mais ce n’était pas suffisant</p>
    <p>donc il m’a faudra lire plusieurs documents sur cette plateforme</p>
    <p>afin que je puisse la comprendre</p>
    <p>Et c’était le même cas avec mon projet de fin d’année.</p>
    <p>Donc ils m’ont effectué un projet dans un domaine très innovant c’est la réalité augmentée.</p>
    <p>Je n’ai eu aucune idée sur ce domaine-là.</p>
    <p>Donc j’ai lit plusieurs documents.</p>
    <p>J’ai regardé plusieurs vidéos tutoriels afin de bien comprendre ce domaine.</p>

    <p>Donc oui dans des situations qui étaient nouvelles pour moi,,,,</p>
    <p>dans un contexte nouveau</p>
    <p>J’ai su me debrouiller donc je suis quelqu’un qui a confiance en moi.</p>
    <p style="color: #0000F0">read only pour les difficultés</p>
    <p>Je suis aussi parfois timide,</p>
    <p>donc c’est difficile parfois de m’exprimer en public</p>
    <p>et c’est pour cela ….</p>
    <p>j’ai contacté un coach afin qu’il m’entraine à parler devant un publique</p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>******************* important dans la vie*****</p>
<section id="important">
    <p> C’est la famille au premier lieu. J’aime trop mes parents</p>
    <p>et après ca vient ma carriére .</p>
    <p>Je veux étre une personne qui a du succés</p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>******************* motivations dans la vie*****</p>
<section id="motivations">
    <p>Bon moi ce qui me motive c’est de </p>
    <p>découvrir toujours des nouvelles technologies dans le domaine du XXX.</p>
    <p>voyager</p>

<p>****************repondre à l'annonce*************</p>
<section id="repondre">
    <p>parceque le domaine de XXXX est ma passion</p>
   <p>J’ai les ocmpétences nécessaires pour ce poste</p>
    <p>Quand j' ai vu l'annonce je me suis dit</p>
    <p>je dois postuler et je dois réussir l’entretien parce que c’est le sujet idéal que je puisse avoir pour mon PFE</p>
 <p>ce poste va me  permettrer de franchir un cap professionnel </p>
    <p>tout en apportant ma compétence et mon énergie à cette entreprise</p>
    <p style="color: #8959A8">FREMEN CORP</p>
    <p>Ce qui m'a reelement pousser a postuler a ce stage c'etais le faite que j'ai deja une experience dans le
        domaine des jeux serieux et des applications en réalité augmentée à travers mon dernier projet.</p>

    <p>Donc naturellement quant j'ai trouvé votre annonce j'etais directement interessé et j'etais persuadé
        que je pourrais rapporter mes connaissance a ce projet.</p>
    <p>A aprt le faite que le stage m'interesse enormemement  ce sera un honneur de travailler avec des gens professionnels comme vous
        Je suis vraiment faciné par vos applications des jeux serieux et vos projets. </p>
    <p>je pense que Fremen corp serais l'organisme ideal
        pour commencer ma cariere et bien m'integrer dans le monde professionel.</p>


    <p style="color: #8959A8">VALEO</p>
    <p>Ce qui m'a reelement pousser a postuler a ce stage c'etais le faite que j'ai deja une experience dans le
        domaine de l'internet des objets et des applications distribuées a travers mon dernier stage.
        Pour vous le resumer, j'etais amener a utiliser un middelware developpé par l'equipe de recherche
        avec laquelle j'ai travaillé afin de developper une application mobile distribué qui
        peut s'executer dans tous les appareils de l'utilisateur autour de lui.</p>
    <p>Donc naturellement quant j'ai trouvé votre annonce j'etais directement interessé et j'etais persuadé
        que je pourrais rapporter mes connaissance a ce projet.</p>
    <p>A aprt le faite que le stage m'interesse enormemement  ce sera un honneur de travailler sous un geant multinationale tel Valeo qui
        s'etale sur 30 pays, dont la Tunisie deja , et qui regroupe 82 milles collaborateurs et plus que 30 marque de voitures
        bien reconnu au monde dont des marques de lux  tel bmw, mercedes ou jaguar.
        Je suis vraiment faciné par vos traveaux de recherche aussi, dans tous ce qui concerne la reduction
        de l'emmision de CO2 et la conduite intuitive. Je pense que votre vision comme
        constructeur et fournisseur de piece automobile va au dela de la creation d'une simple piece
        mais vise a optimiser et moderniser ces composants tout en offrant un confort maximale
        au conducteur et tenant toujour compte de l'envoronnement.</p>
    <p>je pense que valeo serais l'organisme ideal
        pour commencer ma cariere et bien m'integrer dans le monde professionel.</p>


    <p style="color: #8959A8">KALIDYA</p>
    <p>Ce qui m'a reelement pousser a postuler a ce stage c'etais le faite que j'ai deja des expériences</p>
    <p>Dans le domaine du développement web à travers des projets que j'ai réalisé</p>
    <p>Donc naturellement quant j'ai trouvé votre annonce j'etais directement interessé et j'etais persuadé
        que je pourrais rapporter mes connaissance a ce projet.</p>
    <p>A aprt le faite que le stage m'interesse enormemement  ce sera un honneur d'intégrer une entreprise </p>
    <p>dynamique, en forte croissance </p>
    <p>et qui est reputée par son agréable cadre de travail </p>

    <p style="color: #8959A8">KTM Advance</p>
    <p>Ce qui m'a reelement poussé a postuler une candidature libre c'etais le faite que j'ai deja des expériences</p>
    <p>Dans le domaine du développement des serious game à travers des projets que j'ai réalisé</p>
    <p>Donc naturellement j'etais directement interessé et j'etais persuadé
        que je pourrais rapporter mes connaissance a vos projets.</p>
    <p>A aprt le faite que le developpement des jeux serieus m'interesse enormemement
        ce sera un honneur d'intégrer le leader europeen des dispositifs pédagogiques interactifs </p>


    <p>dynamique, en forte croissance </p>
    <p>et qui est reputée par son agréable cadre de travail </p>
</section><a href="#up" style="color:#761c19;">UP</a>
    <p>******************* pourqoui vous*****</p>
    <section id="moi">
        <p style="color: #0000F0">Kmo</p>
        <p> Parceque j’ai une formation correspend exactement au poste.</p>
        <p>Je suis très compétente dans le domaine de XXX</p>
        <p style="color: #0000F0">donc je serai opérationnel dès le premier jour</p>
        <p>Aussi, je suis</p><p style="color: #0000F0"> rigoureuse, loyal </p>
        <p style="color: #0000F0">et j’ai une très bonne résistance au stress,</p>
        <p>et je pense que ces qualités sont essentielles pour tenir le poste.</p>

        <p style="color: #0000F0">Fremen corp</p>
        <p style="color: #0000F0">KTM Advance</p>
        <p>Parceque j’ai développé une application qui correspend exactement au poste.</p>
        <p>Je suis très compétente dans le domaine de développement </p>
        <p>donc je serai opérationnelle dès le premier jour.</p>
        <p>Aussi, je suis</p><p style="color: #0000F0"> rigoureuse, loyal </p>
        <p style="color: #0000F0">et j’ai une très bonne résistance au stress,</p>
        <p>et je pense que ces qualités sont essentielles pour tenir le poste.</p>
        <p> Je serai fier de pouvoir faire partie de l’équipe </p>
        <p>car c’est une grande société qui est reconnue dans son domaine !</p>
    </section><a href="#up" style="color:#761c19;">UP</a>

    <p>******************* apporter à la sociéte*****</p>
    <section id="plus">
        <p>Je vais être créative.</p>
        </p>je souhaite contribuer à la croissance des résultats de l’entreprise.</p>

    </section><a href="#up" style="color:#761c19;">UP</a>


    <p>****************à propos de l'entreprise*************</p>
<section id="entreprise">
    <p style="color: #0000F0"> Kmo </p>
   <p> C’est une jeune société innovante qui fournit aux clients</p>
    <p>des espaces de communication tel des salles de formation,</p>
    <p>des salles de réunion aussi des solution connectés (audio visio conférence).</p>
    <p>Installée à Courville sur Eure</p>
    <p>Elle prend en compte dans ses solutions l’eclairage, les materiaux et la fintion aussi la technologie</p>
   <p> Aussi Les solutions kMO sont conçues pour gérer de façon transparente le câblage et les périphériques</p>
    <p>Ce qui prouve vraiment que vous etes tres professionnels</p>
   <p></p> La visioconférence ou videoconference </p>
    <p> est un moyen de communication de plus en plus utilisé par les entreprises aujourd’hui.</p>
    <p>Elle permet donc d’organiser des réunions de travail, des conférences, formations</p>
    <p>ou autres réunions à distance tout en donnant l’impression d’être tous présents dans la même salle.</p>
    <p style="color: #0000F0"> Fremen corp  </p>
    <p>C’est ue société qui a été fondée en 2009.</p>
    <p>Elle fournit des services dans les jeux et les nouveaux médias.</p>
    <p>Donc c’est un studio de développement des jeux vidéo et des Serios Game.</p>
   <p> Installée à ROSIERES PRES TROYES.</p>
    <p>Sur l'année 2015 elle réalise un chiffre d'affaires de 369 200,00 €.</p>
    <p>Le total du bilan a augmenté de 165,40 % entre 2014 et 2015.</p>

   <p>J’ai fait une petite recherche sur Linkedin.</p>
    <p>J’ai consulté le profil du président du Femen Corp Monsieur Vincent Vimont…… </p>
    <p>aussi Mathieu</p>

    <p style="color: #0000F0"> KALIDYA  </p>
<p>KALYDIA, est une société active depuis 10 ans.
 Elle est spécialisée dans le secteur d'activité du conseil en systèmes et logiciels informatiques.
    Son effectif est compris entre 20 et 49 salariés.
    La société utilise un ERP qui s'appelle SAP
    Vous vous basez sur le développement de solutions préconfigurées en utilisant les dernières versions de l’éditeur SAP.
    Vos solutions sont mises en œuvre chez des clients non équipé ou partiellement équipé de solutions SAP.
     vous testez aussi des solutions SAP avant même leur commercialisation.
    Et Vous travaillez maintenant pour obtenir la maîtrise des innovations SAP basées sur l’architecture S4HANA.
    <p>Vous avez 6 poles: dans le pole technologies vous utiisez SAP SUP (Sybase Unwired Platform)
       C est une plate-forme mobile d'applications d'entreprise conçue pour simplifier la tâche de créer des applications
        qui se connectent les données commerciales à des appareils mobiles pour la gestion des flux de travail et l'intégration back-office.
    </p>
    <p>Vous avez beaucoup des clients notemment TOTAL, NRJ, THALES</p>
    <p>SAP: Logiciel de gestion d'entreprise: c un système dans lequel les différentes fonctions de l'entreprise
        (comptabilité, finances, production, marketing, ressources humaines,, maintenance, etc.)
        sont reliées entre elles par l'utilisation d'un système d'information centralisé sur la base d'une configuration client/serveur. |</p>
</p>

    <p style="color: #0000F0"> WELP </p>
    <p>WELP est en activité depuis 1 an.
        Installée à PARIS 5 (75005).
        Welp est un réseau d'entraide qui met en relation des personnes
        qui ont besoin d'aide avec des
        personnes prêtes à les aider ponctuellement et gratuitement.

      </p>
    <P>ELLE propose des aides de type Administratif/Informatique, Bricolage, enfant, animaux....</P>

    <p style="color: #0000F0"> KTM ADVANCE  </p>
    <p>KTM Advance offre des solutions globales de formation numérique (e-learning, serious games, en salle)</p>
    <p>elle a été fondée en 1995</p>
    <p>En 2008 c'était la 1ere creation du jeux serieux: Starbank</p>
    <p>Et mnt en 2016 Elle a pu développé plus que 100 E-learnings et Serious Game</p>
    <p> la société affiche plus d’un million d’apprenants en ligne et se positionne en leader Européen dans l’innovation pédagogique. </p>
    <p>Elle remporte chaque année des prix prestigieux dans de nombreux pays, tel l’Award du meilleur Serious Game « Culture et Société »
        pour "Les Maîtres de l'eau" (Eau de Paris) reçu en décembre 2014  </p>
   <p>donc ca prouve vraiment que KTM advance est une société tres professionnele et tres serieuse</p>



</section><a href="#up" style="color:#761c19;">UP</a>




<p>****************m'apporte mes loisirs*************</p>
<section id="loisirs">
    <p>goût du challenge, de la compétition, travail en équipe, concentration, endurance physique</p>

</section><a href="#up" style="color:#761c19;">UP</a>







<p>******************* à propos du poste*****</p>
<section id="poste">
    <p style="color: #0000F0">Kmo</p>
    <p></p>D’aprés ce que j’ai compris, après une formation </p>
    <p>sur l’entreprise et ses equipements </p>
    <p>je vais assister votre chef de projet à concevoir et à paramétrer une offre Triple Play</p>
    <p style="color: #0000F0">Fremen corp</p>
    <p>Je vais développer une application de jeux sérieux</p>
    <p>et je suis très motivée de faire ce stage la</p>
    <p>parce que j’aime continuer à développer des application pareils.</p>

    <p style="color: #0000F0">VALEO</p>
    <p>je vais être en charge du projet pour développer des applications liées au véhicule connecté et des composants.</p>
    <p>donc je vais developper des applications en tenant compte de leurs dessign et leurs utilisation</p>
    <p>je vais les tester et assurer que tout est bien</p>

    <p style="color: #0000F0">KALIDYA</p>
    <p>
        Vous avez de nombreux projets de mobilité en mode connecté et déconnecté
    </p>
    <p>Donc je vais m'occuper par le développement des interfaces des applications en utilisant HTML5 et JS</p>

    <p style="color: #0000F0">WELP</p>
    <p>on d'aprés ce que j'ai compri je vais développer un outil complexe d’import/export d’annonces pour la plateforme de welp.</p>
    <p>mais franchement je n'ai pas une idée ca sera l'import et l'export de quoi au juste.</p>
    <p> L’outil sera développé en nodeJs (JavaScript) et sera distribué en tant qu’application desktop (Windows, MAC, Linux)
        grâce à la technologie electron (http://electron.atom.io/). </p>
    <p>je vais assurer la rédaction de la cahier de charges, m'occuper de dossier de conception et biensur le développement de l'application
    et biensur la tester finalement</p>
</section><a href="#up" style="color:#761c19;">UP</a>


<p>******************* Poser des questions*****</p>
<section id="questions">
    <p>Quelles sont les prochaines étapes du processus de recrutement ?</p>
    <p>Est-ce que j’aurais accès à des formations durant ce stage ?</p>
    <p>Qui sera mon maître de stage, et quelles sont ses responsabilités ?</p>
    </p>Organisez-vous des événements de « team building » ?</p>
    <p>Pourriez-vous me décrire une journée type dans ce futur rôle ?</p>
    <p>Pouvez-vous me parler de la culture d'entreprise ?</p>
    <p>Quel est pour vous le candidat idéal pour ce job, ses qualités...</p>
    <p>	Pouvez-vous m’en dire plus à propos de l’équipe ?</p>
    <p>Qu’est-ce qui constitue un succès pour l’équipe et pour le poste ?</p>
    <p>Comment décririez-vous l’ambiance de travail ici ? Plutôt collaborative ou axée sur le travail indépendant ?</p>
    <p>	À quelle fréquence évaluez-vous les performances de vos employés ?</p>


</section><a href="#up" style="color:#761c19;">UP</a>

<p>******************* Papiers*****</p>
<section id="papiers">
   <p> Convention de stage signée visée par la DIRECCTE</p>
   <p>Pour le VISA</p>
    <p> et une lettre d'invitation écrite</p>

</section><a href="#up" style="color:#761c19;">UP</a>

<section id="methode">
    <p> les methodoligies AGILE</p>
    <p>C Une approche de gestion de projet </p>
    <p>qui prend le contre-pied des approches traditionnelles</p>
    <p>de type cycle en V </p>
    <p> La réalisation dure le temps qu'il faut </p>
    <p> et le rendez vous est repris avec le client pour la recette</p>
    <p> on voit donc concrètement l’évolution du projet </p>
    <p>car après chaque itération, </p>
    <p>les utilisateurs peuvent visualiser un « bout » de projet qui fonctionne,</p>
    <p>    Cette évolution permet aux clients de prioriser leurs réels besoins</p>
    <p>l’application s’enrichit selon leurs demandes.</p>
    <p>SCRUM</p>
    <p>C l'une des méthodes Agile existantes</p>
    <p>elle definit 3 rôles :</p>
    <p>Le « Product Owner » : le client</p>.
    <p>Le « Scrum Master » garant de l'application de la méthodologie Scrum</p>
    <p>L'équipe de développement qui réalise le produit.</p>
    <p>La vie d'un projet Scrum est rythmée </p>
    <p>un ensemble de réunions clairement définies</p>
    <p> tel la Planification du Sprint, Revue de Sprint</p>
    <p>RUP Rational Unified Process</p>
    <P>Les étapes de la méthodologie</p>
    <p>1- Etude préalable comprenant une analyse détaillée avec les utilisateurs</p>
    <p>2-Découpage du projet en itérations</p>
</section><a href="#up" style="color:#761c19;">UP</a>
    <p>***********Montre************</p>
    <section id="montre">
       <p>22 fois</p>
    </section><a href="#up" style="color:#761c19;">UP</a>

    <p>***********NON************</p>
    <section id="non">
      <p> Oui, et je sais bien m'expliquer et justifier mes refus</p>
    </section><a href="#up" style="color:#761c19;">UP</a>

    <p>***********JEUNE************</p>
    <section id="jeune">
        <p> non au contraire</p>
        <p>la jeunesse a des atouts quand meme</p>
        <p>je suis reactive</p>
        <p>je peux m'adapter à des plusieurs situations..</p>
        <p>enfaite les jeunes diplômés, ils sont plus aptes à s'adapter et à apprendre !</p>
        <p>Ils ont une immense énergie et dynamisme </p>
        <p>dont vous avez certainement besoin dans vos structures </p>
        <p>il faut faire confiance aux jeunes </p>
        <p>car ce sont eux qui donnent un nouveau souffle aux entreprises.</p>
    </section><a href="#up" style="color:#761c19;">UP</a>

    <p>***********Environnement de travail************</p>
    <section id="environnement">
        <p>Je préfére un environnement plutôt décontracté </p>
        <p>et très porté sur l’amitié entre collègues </p>
        <p> Comment décririez-vous l’environnement de travail chez vous ?</p>
    </section><a href="#up" style="color:#761c19;">UP</a>

    <p>***********ORGANISER TACHES************</p>
    <section id="tache">
        <p>1. Je collecte les tâches que j’ai à faire</p>
        <p>2. Je visualise les tâches que j’ai à faire:  La phase de visualisation en passant par une « carte mentale » permet à notre cerveau d’avoir à la fois une vue d’ensemble et une vue détaillée de tout ce que nous avons à faire.</p>
        <p> 3. Je planifie mes actions: Pour cela (logiciel TeuxDeux), j’indique pour chaque jour de la semaine UNE TÂCHE à faire, la plus IMPORTANTE. Je me focalise sur cette tâche-là, je la traite en priorité.</p>
    <p>4/ J’archive mes actions terminées: part je garde une trace de ce que j’ai fait pour m’y référer si nécessaire plus tard, et d’autre part, je « contemple » tout ce que j’ai fait dans ma journée, ce qui permet d’évacuer le stress résiduel et me confirme que OUI, j’ai été efficace.</p>
    </section><a href="#up" style="color:#761c19;">UP</a>

    <p>***********SALAIRES************</p>
    <section id="salaire">
        <p>500: bon 500 n'est pas vraimenet suffisant, d'aprés mes recherches</p>
        <p>d'apres mes amis là bas, et d'apres ce que j'ai trouvé sur les sites de location</p>
        <p>500 euro n'est meme pas le prix d'un appart</p>
        <p>est ce que c possible de négocier sur le salaire?</p>
        <p>SI OUI/ moi je propose franchement 800</p>
        <p>parceque j'ai vu les autres offres de stage et ils proposent entre 800 et 1000</p>
        <p>et ça me parait plus logique</p>

        <p>SI NON : d'accod , bon ca va etre dur pour moi mais je vais esayer de me débrouiller</p>

        <p>800: c'est bien mais c'est un peu juste</p>
        <p>il n'y a pas moyen de pousser à 1000</p>
        <p> ca sera parfait</p>
<p>***********************</p>
<p>***********************</p>
<p>***********************</p>
<p>***********************</p>
<p>***********************</p>
<p>***********************</p><p>***********************</p>
<p>***********************</p>
<p>***********************</p><p>***********************</p>
<p>***********************</p>
<p>***********************</p>
<p>***********************</p>
<p>***********************</p>
<p>***********************</p><p>***********************</p><p>***********************</p>
<p>***********************</p>
<p>***********************</p>
<p>***********************</p>
<p>***********************</p>
<p>***********************</p>
<p>***********************</p>
<p>***********************</p>





