<section id="up">
    <li>
        <ul><a href="#mpls" style="color:#880000;font-weight: bold">MPLS</a></ul>
        <ul><a href="#atm" style="color:#5e8014;font-weight: bold">ATM</a></ul>
        <ul><a href="#nat" style="color:#916319;font-weight: bold">NAT</a></ul>
        <ul><a href="#osi" style="color:#8959A8;font-weight: bold">Les modéles d'architecture réseau(OSI,TCP/IP)</a></ul>
        <ul><a href="#equipement" style="color:#e74c3c;font-weight: bold">Les types d'equipement</a></ul>
        <ul><a href="#triple" style="color:#0000F0;font-weight: bold">TRIPLE PLAY</a></ul>
        <ul><a href="#ethernet" style="color:#404040;font-weight: bold">Ethernet</a></ul>
        <ul><a href="#ip" style="color:#761c19;font-weight: bold">IP</a></ul>
        <ul><a href="#visio"style="color:#ff6666;font-weight: bold">audio-visioconférence</a></ul>
        <ul><a href="#sdsl"style="color:#880000;font-weight: bold">SDSL</a></ul>
        <ul><a href="#fttb"style="color:#080808;font-weight: bold">Réseau FTTB</a></ul>
        <ul><a href="#ftth"style="color:#00ee00;font-weight: bold">Réseau FTTH</a></ul>
        <ul><a href="#latence"style="color:#d58512;font-weight: bold">Latence</a></ul>
        <ul><a href="#backbone"style="color:#aa3333;font-weight: bold">Backbone</a></ul>
        <ul><a href="#wifi"style="color:#ff6666;font-weight: bold">WiFi</a></ul>
        <ul><a href="#mode"style="color:#ff6666;font-weight: bold">Modes de mise en réseau</a></ul>
        <ul><a href="#vpn"style="color:#f6bf01;font-weight: bold">VPN</a></ul>
        <ul><a href="#qos"style="color:#8959A8;font-weight: bold">QOS</a></ul>
        Expose brièvement les dernères avancées technologiques en matière de télécommunications ?
        J'ai tels équipements à mettre en réseau, que me conseilles-tu ?
        Pourquoi es-tu devenu ingénieur ?
        As-tu réalisé des projets concrets en entreprise ?
        As-tu entièrement créer un réseau de petite entreprise ?
        Explique moi l'avantage d'un switch par rapport à un hub ?
        Schématise le plan d'une maison à mettre en réseau (télé, TV, internet...)
        Explique moi en 5 min ce qu'est la fibre optique ?
        Qu'est-ce que l'ADSL, le SDSL, l'ADSL2+ ou le ReADSL ?
        A quoi correspondent les informations techniques (Commutateur, Longueur, Affaiblissement) ?
        A quoi correspondent les types de raccordement (Options 1, 3, 5) ?
        Qu'est-ce que le dégroupage partiel, le dégroupage total et l'ADSL Nu ?
        Ma ligne est très mauvaise, que faire ?
        Je suis relié à un commutateur éloigné alors qu'il y en a un plus près
        Aucune offre n'est possible pour ma ligne, pourquoi ?
        Quand ma commune sera-t-elle ADSLisée ?
        Qu'est-ce qu'une ligne multipléxée ?
        Courbe Débit/Distance par France Télécom
        Courbe Débit/Affaiblissement http://www.degrouptest.com/faq/adsl-cable-internet-haut-debit.php
        http://www.careerride.com/telecommunications-interview-questions.aspx
        https://portail.jacquenod.net/PRIV/reseau.html
    </li>
</section>

<p>************MPLS***</p>
<section id="mpls">
    <p>MultiProtocol Label Switching (MPLS) </p>
    <p>est un mécanisme de transport de données </p>
    <p>basé sur la commutation d'étiquettes ou "labels", </p>
    <p>qui sont insérés à l'entrée du réseau MPLS et retirés à sa sortie.</p>
    <p>Cette étiquette est attribuée aux paquets par l'équipement PE (Provider Edge) lors de leur entrée dans l'infrastructure MPLS.</p>
    <p>À l'origine, cette insertion s'opère entre la couche de liaison de données (niveau 2) et la couche réseau (niveau 3) </p>
    <p>afin de transporter des protocoles comme IP. </p>
    <p>C'est pourquoi MPLS est qualifié de protocole de couche « 2,5 ».</p>
    <p>Ce protocole a évolué pour fournir un service unifié de transport de données pour les clients</p>
    <p>en utilisant une technique de commutation de paquets.</p>
    <p>MPLS peut être utilisé pour transporter pratiquement tout type de trafic, </p>
    <p>par exemple la voix ou des paquets IPv4, IPv6 et même des trames Ethernet ou ATM.</p>
    <p>il permet d'acheminer sur une unique infrastructure</p>
    <p>différents types de trafic tout en respectant les contraintes de fonctionnement associées.</p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>************ATM***</p>
<section id="atm">
    <p>ATM (Asynchronous Transfer Mode, c'est-à-dire mode de transfert asynchrone)</p>
    <p>est une technologie de réseau récente, qui, contrairement à ethernet, token ring, et FDDI </p>
    <p>permet de transférer simultanément sur une même ligne </p>
    des données et de la voix.</p>
    <p>ne cellule ATM est composée de cinq octets d'en-têtes</p>
    <p>et de quarante-huit octets de contenu</p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>************modeles OSI,TCP/IP***</p>
<section id="osi">
    <p>les modéels: OSI, TcpIp, x.200, </p>
    <p>OSI (Open Systems Interconnection)</p>
    <p>dil écrit les concepts utilisés et la démarche suivie </p>
    <p>pour normaliser l'interconnexion de systèmes ouverts </p>
    <p>(un réseau est composé de systèmes ouverts lorsque la modification, l'adjonction ou la suppression</p>
    <p>d'un de ces systèmes ne modifie pas le comportement global du réseau)</p>
    <img src="{{ asset('bundles/gestionfilms/entretien/osi.png')}}" alt="">
    <p>Le modèle TCP/IP</p>
    <p> désigne en fait 2 protocoles étroitement liés :</p>
    <p>un protocole de transport, TCP (Transmission Control Protocol) qu'on utilise "par-dessus" un protocole réseau</p>
    <p>IP (Internet Protocol). </p>
    <img src="{{ asset('bundles/gestionfilms/entretien/tcpip.gif')}}" alt="">
    <img src="{{ asset('bundles/gestionfilms/entretien/osipro.png')}}" alt="">
    <p style="color: #0000F0"> Comparaison avec le modèle OSI</p>
    <p>Tout d'abord, les points communs.</p>
    <p>Les modèles OSI et TCP/IP sont tous les deux fondés sur le concept de pile de protocoles indépendants.</p>
    <p>Ensuite, les fonctionnalités des couches sont globalement les mêmes.</p>
    <p>les differences: le modèle OSI faisait clairement la différence entre 3 concepts principaux,</p>
    <p>alors que ce n'est plus tout à fait le cas pour le modèle TCP/IP.</p>
    <p>Ces 3 concepts sont les concepts de services, interfaces et protocoles.</p>
    <p>Enfin, la dernière grande différence est liée au mode de connexion.</p>
    <p>Certes, les modes orienté connexion et sans connexion sont disponibles dans les deux modèles </p>
    <p>mais pas à la même couche :</p>
    <p>pour le modèle OSI, ils ne sont disponibles qu'au niveau de la couche réseau </p>
    <p>alors qu'ils ne sont disponibles qu'au niveau de la couche transport pour le modèle TCP/IP</p>
    <p>(la couche internet n'offre que le mode sans connexion). </p>
    <p>Le modèle TCP/IP a donc cet avantage par rapport au modèle OSI :</p>
    <p>les applications (qui utilisent directement la couche transport) </p>
    <p>ont véritablement le choix entre les deux modes de connexion.</p>

</section><a href="#up" style="color:#761c19;">UP</a>

<p>************Ethernet**********</p>
<section id="ethernet">
    <p>L'Ethernet est basé sur un principe de dialogue sans connexion et donc sans fiabilité. </p>
    <p>ce qui signifie qu'aucun acquittement, positif ou négatif, n'est émis lorsqu'une trame passe </p>
    <p>le contrôle CRC avec succès ou lorsque celle-ci échoue.</p>
    <p>Cette absence de fiabilité constitue sans doute la clé de la simplicité et des coûts modérés des systèmes Ethernet.</p>
    <p> Ethernet repose sur un algorithme d'accès multiple CSMA/CD (Carrier Sense Multiple Access with Collision Detection )</p>
    <p>C'est un protocole permettant la discussion sur un réseau de type Ethernet.</p>
    <p style="color: #0000F0">Trame Ethernet</p>
    <p>taille: 14 octets</p>
    <p style="color: #0000F0">une trame Ethernet 802.1Q </p>
    <p>taille:  basé sur 18 octets.</p>
    <p style="color: #0000F0">type d'équipement pour ethernet:</p>
    <p>Le répéteur (Repeater)</p>
    <p>Le HUB (Concentrateur)</p>
    <p>Le commutateur (Switch)</p>
    <p>Le pont (Bridge)</p>
    <p>Le routeur (Gateway)</p>

</section><a href="#up" style="color:#761c19;">UP</a>

<p>************Type d'équiepements**********</p>
<section id="equipement">
    <p style="color: #0000F0">répéteur</p>
    <p>Cet équipement agît au niveau 1 du modèle OSI.</p>
    <p>Sa fonction est de répéter un signal électrique en le régénérant. </p>
    <p>L'avantage est de pouvoir augmenter la distance physique, cependant,</p>
    <p>l'inconvénient est qu'il répète aussi le bruit du fait qu'il n'applique aucun filtre ni contrôle.</p>
    <p style="color: #0000F0">Le HUB (Concentrateur)</p>
    <p>Cet équipement agît au niveau 1 du modèle OSI. </p>
    <p>Sa fonction est d'interconnecter plusieurs cartes d'interfaces ensembles. </p>
    <p>Ainsi, chaque signal électrique reçu est rediffusé sur tous les autres ports du HUB.</p>
    <p style="color: #0000F0">Le commutateur</p>
    <p>Cet équipement agît au niveau 2 du modèle OSI.</p>
    <p>Identiquement à un HUB, sa fonction est d'interconnecter plusieurs cartes d'interfaces ensembles. </p>
    <p>Cependant, lorsqu'il réceptionne une trame, il compare l'adresse MAC de destination avec sa table de correspondance.</p>
    <p>Ainsi, il ne diffuse cette trame uniquement sur le port physique concerné.</p>
    <p style="color: #0000F0">Le pont (Bridge)</p>
    <p>Cet équipement agît au niveau 2 du modèle OSI.</p>
    <p>Il permet d'interconnecter deux réseaux de Liaison différente.</p>
    <p>Par exemple, on trouvera fréquemment des ponts permettant de relier des réseaux :</p>
    <p>Ethernet et WIFI
    - Ethernet et Token Ring</p>
    <p style="color: #0000F0">Le routeur (Gateway)</p>
    <p>Cet équipement agît au niveau 3 du modèle OSI.</p>
    <p>Il permet de relier plusieurs réseau IP différents.</p>
    <p>Pour cela, lorsqu'il reçoit une trame, il compare l'adresse IP destination du datagramme avec sa table de routage </p>
    <p>et route ce datagramme sur l'interface de sortie correspondante.</p>
</section><a href="#up" style="color:#761c19;">UP</a>
<p>*****************IP*****</p>
<section id="ip">
    <p>Internet Protocol</p>
    <p>Il représente le protocole réseau le plus répandu.</p>
    <p> Il permet de découper l'information à transmettre en paquets</p>
    <p>de les adresser, de les transporter indépendamment les uns des autres </p>
    <p>et de recomposer le message initial à l'arrivée. </p>
    <p>Ce protocole utilise ainsi une technique dite de commutation de paquets.</p>
    <p>taille entete: 4 octets.</p>
   <p>IP - Internet Protocol - Couche 3 - IP natif.</p>
    <p> - ARP - Address Resolution Protocol - Couche 3 - Résolution d'adresse IP en adresse MAC.</p>
    <p> - RARP - Reverse Address Resolution Protocol - Couche 3 - Résolution d'adresse MAC en adresse IP.</p>
    <p> - ICMP - Internet Control Message Protocol - Couche 3 - Gestion des messages du protocole IP.</p>
    <p> - IGMP - Internet Group Management Protocol - Couche 3 - Protocole de gestion de groupe.</p>
    <p> - TCP - Transmission Control Protocol - Couche 4 - Transport en mode connecté.</p>
    <p>- UDP - User Datagram Protocol - Couche 4 - Transport en mode non connecté.</p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>*****************visio conférence*****</p>
<section id="visio">
<p>permettre à des utilisateurs géographiquement éloignés de travailler en équipe.</p>
    <p>Le travail en équipe peut se concrétiser par le partage d'information, ou bien la création et l'échange de données informatisées.</p>
    <p>Il s'agit pour la plupart du temps d'outils de messagerie (instantanée ou non),</p>
    <p>ainsi que d'applications diverses telles que :</p>
    <p>agenda partagé, espace de documents partagés, outils d'échange d'information (forums électroniques)
        outil de gestion de contacts
        outils de workflow</p>
    <p style="color: #0000F0">Exemples d'outils visio conférence</p>
    <p>ANYMEETING</p>
    <p>Anymeeting est une solution de visioconférence et de partage d'écran en ligne,</p>
    <p>dont la version gratuite permet de réunir jusqu'à 200 participants</p>
    <p>Elle supporte également l'API Facebook, pour la création rapide d'un compte. </p>
    <p>JOINE.ME</p>
    <p>L'interet de cet outil de partage d'écran en ligne est sa facilité d'utilisation </p>
    <p>il est accessible sans inscription et gratuitement</p>
    <p>et permet d'organiser des webconférences pouvant accueillir jusqu'à 250 participants.</p>
    <p>GOOGLE PLUS « vidéo-bulles »</p>
    <p>LES VERSIONS PAYANTES</p>
    <p>iLinc</p> <p>Fuze Meeting</p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>*****************SDSL*****</p>
<section id="sdsl">
    <p>Symmetric Digital Subscriber Line </p>
    c est une technique d'accès qui permet de faire transporter des données
    à haut débit (jusqu'à 2 Mbit/s ) par un réseau.</p>
    <p>Comme son nom l'indique la ligne SDSL a,</p>
    <p>contrairement à la ligne ADSL, des débits symétriques :</p>
    <p>son débit en réception est égal au débit en émission </p>
    <p>Le SDSL utilise seulement une paire torsadée</p>
    <img src="{{ asset('bundles/gestionfilms/entretien/pairetorsade.jpg')}}" alt="">
    <p>L'offre d'accès SDSL est destinée aux établissements professionnels :</p>
    elle permet l'échange de données à haut débit entre plusieurs sites distants d'une même entreprise.</p>
    <p>Contrairement à l'ADSL, le SDSL utilise également la bande spectrale utilisée communément pour le transport de la voix
        (de 300 à 3 400 Hz).
        Il n'est alors plus possible d'utiliser le service téléphonique classique,
        la ligne est donc dédiée.
        De ce fait, il n'est plus nécessaire d'utiliser de filtre, tout comme en dégroupage total et ADSL</p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>*****************FTTB*****</p>
<section id="fttb">
    <p>fiber to the building -> fibre jusqu’au bâtiment</p>
    <p> c est une topologie d'accès à internet visant à réutiliser les technologies xDSL </p>
    <p>en installant de la fibre optique plus près de l’abonné </p>
    <p>tout en utilisant la paire de cuivre téléphonique,</p>
    <p>ou encore les réseaux de télévision par câble pour les derniers mètres.</p>
    <p>La technologie FTTB constitue la principale architecture mise en œuvre</p>
    <p>pour l’accès au très haut débit par la fibre optique en France.</p>
    <p>Les autres opérateurs proposaient majoritairement, fin 2011,</p>
    <p>la fibre optique de bout-en-bout (technologie FTTH) :</p>
    <p>Orange (avec 73 000 abonnés), SFR (51 000 abonnés) et Free (28 000 abonnés)2.</p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>*****************FTTH*****</p>
<section id="ftth">
    <p>Fiber to the Home ->ibre optique jusqu'au domicile</p>
    <p>c est un réseau de télécommunications physique qui permet </p>
    <p>notamment l'accès à internet à très haut débit </p>
    <p>et dans lequel la fibre optique se termine au domicile de l'abonné.</p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>*****************latence*****</p>
<section id="latence">
    <p>la latence = délai de transit, de retard)</p>
    <p>est le délai de transmission dans les communications informatique</p>
    <p>Il désigne le temps nécessaire à un paquet de données pour passer de la source à la destination à travers un réseau.</p>
    <p>La latence peut être occasionnée par plusieurs causes :</p>
    <p style="color: #0000F0">Capacité réseau insuffisante </p>
    <p>Capacité de calcul inefficace ou insuffisante </p>
    <p>Contrainte technologique </p>
    <p>Réordonnancement des paquets </p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>*****************Backbone*****</p>
<section id="backbone">
    <p>Il constitue le centre névralgique d'un reseau à haut debit.</p>
    <p> c la partie qui supporte le gros du trafic, en utilisant </p>
    <p>les technologies les plus rapides </p>
    <p>et une grande bande passante sur des distances importantes.</p>
    <p>Les petits réseaux (internes à une entreprise ou à une région)</p>
    <p>se rattachent à ce réseau fédérateur, </p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>*****************WIFI*****</p>
<section id="wifi">
    <p>Wireless Fidelity</p>
    <p> c est un ensemble de protocoles de communication sans fil </p>
    <p>régis par les normes du groupe IEEE 802.11</p>
    <p>Un réseau Wi-Fi permet de relier par ondes radio</p>
    <p>plusieurs appareils informatiques (ordinateur, routeur, smartphone, décodeur Internet, etc.)</p>
    <p>au sein d'un réseau informatique afin de permettre la transmission de données entre eux.</p>
    <section id="mode">
        Modes de mise en réseau
        <p style="color:#0000F0;">Le mode « Infrastructure » </p>
        <p>qui permet de connecter les ordinateurs équipés d’une carte Wi-Fi entre eux via un ou plusieurs points d’accès (PA)</p>
        <p>qui agissent comme des concentrateurs (exemple : répéteur ou commutateur en réseau Ethernet). </p>
        <p style="color:#0000F0;">Le mode « Ad hoc »</p>
        <p>mode qui permet de connecter directement les ordinateurs équipés d’une carte Wi-Fi</p>
        <p>sans utiliser un matériel tiers tel qu’un point d’accès.</p>
        <p>Ce mode est idéal pour interconnecter rapidement des machines entre elles sans matériel supplémentaire </p>
        <p style="color:#0000F0;">Le mode « Pont » (« Bridge »)</p>
       <p></p> Un point d'accès en mode « Pont » sert à connecter un ou plusieurs points d'accès entre eux</p>
        <p>pour étendre un réseau filaire,</p>
        <p>par exemple entre deux bâtiments</p>
        <p style="color:#0000F0;"> Le mode « Répéteur » (« Range-extender »)</p>
        <p>Un point d'accès en mode « Répéteur » permet de répéter un signal Wi-Fi plus loin</p>
    </section>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>*****************VPN*****</p>
<section id="vpn">
    <p>Virtual Private Network</p>
    <p>c est un système permettant de créer un lien direct entre des ordinateurs distants.</p>
    <p>On utilise notamment ce terme dans le travail à distance,</p>
    <p>ainsi que pour l'accès à des structures de type cloud computing.</p>
    <p>La connexion entre les ordinateurs est gérée de façon transparente par le logiciel de VPN, créant un tunnel entre eux.</p>
    <p>Les ordinateurs connectés au VPN sont ainsi sur le même réseau local (virtuel),</p>
    <p>ce qui permet de passer outre d'éventuelles restrictions sur le réseau (comme des pare-feux ou des proxys).</p>
    <p style="color:#0000F0;">
        Les principaux protocoles permettant de créer des VPN sont :</p>
    <p style="color:#0000F0;">
        PPTP (Point-to-Point tunneling Protocol)</p>
    <p>est un protocole de niveau 2 développé par Microsoft, 3Com, Ascend, US Robotics et ECI Telematics.</p>
    <p style="color:#0000F0;">L2F (Layer Two Forwarding)</p>
    <p>est un protocole de niveau 2 développé par Cisco Systems, Nortel et Shiva. Il est désormais quasi-obsolète.</p>
    <p style="color:#0000F0;">L2TP (Layer Two Tunneling Protocol)</p>
    <p>faire converger les fonctionnalités de PPTP et L2F.</p>
    <p>Il s'agit ainsi d'un protocole de niveau 2 s'appuyant sur PPP.</p>
    <p style="color:#0000F0;">IPsec </p>
    <p>est un protocole de niveau 3, permettant de transporter des données chiffrées pour les réseaux IP.</p>
    <p style="color:#0000F0;">SSL/TLS</p>
    <p>offre une très bonne solution de tunnelisation.</p>
    <p>L'avantage de cette solution est de permettre l'utilisation d'un navigateur Web comme client VPN.</p>
    <p style="color:#0000F0;"> SSH </p>
    <p>permet, entre autres, d'envoyer des paquets depuis un ordinateur auquel on est connecté.</p>
    </section><a href="#up" style="color:#761c19;">UP</a>
<p>*****************QOS*****</p>

<section id="qos">
   <p>c est la capacité à véhiculer dans de bonnes conditions un type de trafic donné,</p>
    <p>en termes de disponibilité, débit, délais de transmission, gigue, taux de perte de paquets…</p>
    <p>il a pour but d’optimiser les ressources d'un réseau</p>
    <p>et de garantir de bonnes performances aux applications critiques pour l'organisation.</p>
</section><a href="#up" style="color:#761c19;">UP</a>

<p>*****************NAT*****</p>
<section id="nat">
    <p>Network Address Translation</p>
    <p> La NAT statique</p>
    <p>La NAT statique, se base sur l'association de n adresses avec n adresses.</p>
    <p></p>C'est à dire qu'à une adresse IP interne,</p>
    <p>on associe une adresse IP externe. </p>
    <p>Dans ce cas, la seule action qui sera effectuée par le routeur sera</p>
    <p>de remplacer l'adresse source ou destination par l'adresse correspondante.</p>
</section><a href="#up" style="color:#761c19;">UP</a>